#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;
  height: 100vh;
}

main {
  background-color: var(--surface-primary);
  font-size: 1rem;
  overflow: auto;

  .main-container {
    padding: 4rem;
    max-width: 33rem;
    margin-left: auto;

    p {
      font-size: 1rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}

.back {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

aside {
  background-color: var(--surface-secondary);

  .aside-container {
    padding: 4rem;
    max-width: 31rem;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      color: var(--brand-mid);
    }

    img {
      width: 17.5rem;
      height: 17.5rem;
      margin-top: 2rem;
    }
  }
}
